
.parent-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    align-items:center;
    padding:10px 5px ;
}
.parent-list h1{
    font-size: 18px;
    color: rgb(24, 24, 107);
    font-weight: 600;
}


table{
    width: 100%;
}
.delete{
    color: red;
    font-size: 1.4rem;
    cursor: pointer;
}